.filter__list {
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-bottom: 4px;
}

.filter__list.closed {
  max-height: 0;
}

.filter__list.open {
  max-height: 500px;
}

.filter__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
